.time-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  .days-container {
    position: relative;
    width: min-content;

    .days {
      padding: 0px 8px;
      background-color: var(--color-1);
      position: absolute;
      top: 24px;
      right: -24px;
      border-radius: 4px;
    }
  }

  .counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
  }
}

.highlight {
  background-color: var(--color-1);
  color: var(--color-white);
  padding: 4px;
  width: min-content;
  border-radius: 4px;
}
